# -------------------------------
# API & Web
# -------------------------------
fastapi
uvicorn
aiofiles
python-multipart

# -------------------------------
# 3D & Visualizzazione
# -------------------------------
open3d
trimesh

# -------------------------------
# Utils & AI Support
# -------------------------------
numpy
scipy
pillow
matplotlib
tqdm
pyyaml
imageio
opencv-python

# -------------------------------
# Deep Learning (base)
# -------------------------------
torch>=2.0.0
